[Unit]
Description=Offers Api to toggle the usb port power
After=network.target
StartLimitIntervalSec=5

[Service]
Type=simple
Restart=always
RestartSec=10
Group=pi
User=pi
WorkingDirectory=/home/pi/my-remote-usb-connector/services/executer-api
ExecStart=source /home/pi/my-remote-usb-connector/services/executer-api/venv/bin/activate && python /home/pi/my-remote-usb-connector/services/executer-api/src/main.py 

[Install]
WantedBy=multi-user.target